[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/vulpes/Desktop/Discovery.png]
row=6
col=1

[/home/vulpes/Desktop/Artists.png]
row=7
col=1

[/home/vulpes/Desktop/twitter-logo-on-black-background.png]
row=6
col=0

[/home/vulpes/Desktop/Tracks.png]
row=0
col=1

[/home/vulpes/Desktop/IMG_0190.png]
row=2
col=1

[/home/vulpes/Desktop/alb.png]
row=3
col=2

[/home/vulpes/Desktop/IMG_0190.JPG]
row=7
col=0

[/home/vulpes/Desktop/CS32ULTIMATEREVIEWER.pdf]
row=5
col=2

[/home/vulpes/Desktop/Listening Week.png]
row=6
col=2

[/home/vulpes/Desktop/Scrobble stats.png]
row=8
col=0

[/home/vulpes/Desktop/Top Tags.png]
row=5
col=1

[/home/vulpes/Desktop/On Repeat.png]
row=2
col=2

[/home/vulpes/Desktop/IMG_0190.kra]
row=1
col=1

[/home/vulpes/Desktop/alb.kra]
row=4
col=2

[/home/vulpes/Desktop/Loved Tracks.png]
row=1
col=2

[/home/vulpes/Desktop/soundcloud-logo.png]
row=4
col=1

[/home/vulpes/Desktop/Albums.png]
row=8
col=1

[/home/vulpes/Desktop/youtube-logo.png]
row=3
col=1

[/home/vulpes/Desktop/Biggest Day.png]
row=7
col=2

[/home/vulpes/Desktop/Longest Streak.png]
row=0
col=2

[/home/vulpes/Desktop/Listening Clock.png]
row=8
col=2

[0FFE06A81D5D1862]
row=2
col=0

[google-drive://simonclemente113@gmail.com/]
row=0
col=0

[77650F4649FDF7B1]
row=1
col=0

[Trash]
row=3
col=0

[/]
row=4
col=0

[/home/vulpes]
row=5
col=0

