[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[77650F4649FDF7B1]
row=1
col=0

[0FFE06A81D5D1862]
row=2
col=0

[google-drive://simonclemente113@gmail.com/]
row=0
col=0

[Trash]
row=3
col=0

[/]
row=4
col=0

[/home/vulpes]
row=5
col=0

