[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/vulpes/Desktop/steam.desktop]
row=4
col=0

[B84A6FB24A6F6C56]
row=1
col=0

[Trash]
row=2
col=0

[/]
row=0
col=0

[/home/vulpes]
row=3
col=0

